.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: gainsboro;
}
.book {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .book {
    grid-template-columns: repeat(3, 1f);
  }
}
